@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: aliceblue;
}

/* top bar */
.navbar {
    font-family: monospace;
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 2.3rem;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px;
    padding: 20px 0 20px 0;

}

.navbar a {
    text-decoration: none;
    color: inherit;
}
.navbar a:hover{
    opacity: 0.7;
}

/* main  */ 
.main-content {
    padding: 40px 60px 40px 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


/* book items */

.book {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: solid 1px black;
    border-radius: 5px;
    width: 220px;
    height: 300px;
    padding: 15px;
    gap: 20px;
}

.title {
    font-family: "merienda";
    text-align: center;
    height: 80px;
    font-weight: bold;
    font-size: 1.3rem;
}
.author {
    text-align: center;
    
    font-family: "merienda";
}
.no-of-pages {
    font-family: "merienda";
    text-align: center;
}
.btns {
    display: flex;
    justify-content: space-around;
}
.read-btn, .remove-btn{
    margin: 10px;

    font-size: 1.05rem;
    width: 80px;
    border-radius: 30px;
    background-color: white;

}

/* dialog */
#book-info {
    position: absolute;
    left: 42%;
    top: 35%;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 340px;
}

.read {
    margin: 10px;
    font-size: 1.05rem;
    width: 80px;
    border-radius: 30px;
    color: green;
    background-color: white;
    border: 1px solid green;

}
.to-read {
    margin: 10px;
    background-color: white;
    font-size: 1.05rem;
    width: 80px;
    border-radius: 30px;


    color: red;
    border: 1px solid red;
}

/* form */
form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

form h3 {
    text-align: center;
    margin-bottom: 10px;
}
form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
form .heading {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-close {
    border: 2px solid black;
    color: black;
    border-radius: 4px;
    width: 26px; 
    font-size: 20px;
    font-family: arial, sans-serif;
    cursor: pointer;
}

.checkbox {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
label {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input[type="text"], input[type="number"] {
    margin-top: 3px;
    height: 25px;
    border-radius: 5px;
    border: 1.5px black solid;
    padding: 5px;
}

.form-submit {
    margin-top: 15px;   
    width: 90px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    align-self: center;
}

/* footer */
.footer {
    position: absolute;
    bottom: 0px;
    right: 4%;
    padding-bottom: 30px;
}

.footer .add-book {
    width: 90px;
    height: 30px;
    border-radius: 50px;
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1.9px solid;
}

.footer .add-book:hover {
}